<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>顾少个人博客网站</title>
     <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/about.css" rel="stylesheet">
    <!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>

<body>
    <header>
        <div id="logo"><a href="/"></a></div>
         <nav class="topnav" id="topnav">
            <a href="/blog"><span>首页</span><span class="en">Protal</span></a>
            <a href="/about"><span>关于我</span><span class="en">About</span></a>
            <a href="/newlist"><span>慢生活</span><span class="en">Life</span></a>
            <a href="/moodlist"><span>碎言碎语</span><span class="en">Doing</span></a>
            <!-- <a href="share"><span>模板分享</span><span class="en">Share</span></a> -->
            <a href="/knowledge">  	<span>学无止境</span><span class="en">Learn</span>  </a>
            <!-- <a href="book"><span>留言版</span><span class="en">Gustbook</span></a> -->
        </nav>
    </header>
    <article class="aboutcon">
        <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
        <div class="about left">
            <h2>Just about me</h2>
            <ul>
                <p>顾永杰，男，未婚。</p>
                <p>
                    人生就是一个得与失的过程，而我却是一个幸运者，失去的永远比得到的多。生活的压力迫使我放弃了轻松的前台接待，放弃了体面的编辑，换来虽有些蓬头垢面的工作，但是我仍然很享受那些熬得只剩下黑眼圈的日子，因为我在学习使用Photoshop、Flash、Dreamweaver、ASP、PHP、JSP...中激发了兴趣，然后越走越远....</p>
                <p>在这条路上，我要感谢三个人，第一个是我从事编辑的老板，是他给了我充分学习研究div的时间，第二个人是我的老师，如果不是街上的一次偶遇，如果不是因为我正缺钱，我不会去强迫自己做不会的事情，但是金钱的诱惑实在是抵挡不了，于是我选择了“接招”，东拼西凑的把一个网站做好了，当时还堪称佳作的网站至今已尘归尘土归土了。第三个人，我总说他是我的伯乐，因为我当初应聘技术员的时候，我说我什么都不会，但是他却给了我机会，而我就牢牢的把握了那次机会，直到现在如果不是我主动把域名和空间转出来，我会一直霸占着公司资源，免费下去（可我就偏偏不是喜欢爱占便宜的人，总感觉欠了就得还）...</p>
                <p>
                </p>
            </ul>
            <h2>About my blog</h2>
        </div>
        <aside class="right">
            <div class="about_c">
                <p>网名：<span>顾少</span> </p>
                <p>姓名：顾永杰 </p>
                <p>生日：1997-10-30</p>
                <p>籍贯：浙江省―嘉兴市</p>
                <p>现居：浙江省―嘉兴市</p>
                <p>职业：网站设计、网站制作</p>
                <p>喜欢的书：《红与黑》《哈哈》</p>
                <p>喜欢的音乐：《burning》《just one last dance》《相思引》</p>
                  </div>
        </aside>
    </article>
    <!-- <footer>
  <p>Design by DanceSmile More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> <a href="/">网站统计</a></p>
</footer> -->
    <script src="/static/js/silder.js"></script>
</body>

</html>