<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>顾少个人博客</title>
    <meta name="keywords" content="" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>

<body>
    <header>
        <div id="logo"><a href="/"></a></div>
        <nav class="topnav" id="topnav">
            <a href="/blog"><span>首页</span><span class="en">Protal</span></a>
            <a href="/about"><span>关于我</span><span class="en">About</span></a>
            <a href="/newlist"><span>慢生活</span><span class="en">Life</span></a>
            <a href="/moodlist"><span>碎言碎语</span><span class="en">Doing</span></a>
            <!-- <a href="share"><span>模板分享</span><span class="en">Share</span></a> -->
            <a href="/knowledge">  	<span>学无止境</span><span class="en">Learn</span>  </a>
            <!-- <a href="book"><span>留言版</span><span class="en">Gustbook</span></a> -->
        </nav>

    </header>
    <div class="banner">
        <section class="box">
            <ul class="texts">
                <p>人生就是孤独的灵魂寻找没有光的灯塔</p>
                <p>为自己掘一个坟墓来葬心，红尘一梦，不再追寻。</p>
                <p>加了锁的青春，不会再因谁而推开心门。</p>
            </ul>
            <div class="avatar"><a href="#"><span>顾少</span></a> </div>
        </section>
    </div>

    <article>
        <h2 class="title_tj">
    <p>文章<span>推荐</span></p>
  </h2>
        <div class="bloglist left">
            {% for blog in blog_list %}
            <h3>{{ blog.title }}</h3>
            <figure><img src={{ blog.img }}></figure>
            <ul>
                <p>{{ blog.body }}</p>
                <a title="/" href="/new?id={{ blog.id }}" target="_blank" class="readmore">阅读全文>></a>
            </ul>
            <p class="dateview"><span>{{ blog.timestamp }}</span><span>作者：{{ blog.author }}</span><span>个人博客：
                 {% if blog.type == "慢生活" %}
                 [<a href="/newslist">{{ blog.type }}</a>]
              {% endif %}
          {%  if blog.type == "学无止境" %}
              [<a href="/knowledge">{{ blog.type }}</a>]
              {% endif %}
            </span></p>
            {% endfor %}


        </div>
        <aside class="right">
            <div class="weather">
                <!-- <iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe> -->
                <iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&py=nanhuqu&num=1&site=12"></iframe>
            </div>
            <div class="news">
                <h3>
      <p>最新<span>文章</span></p>
    </h3>
                <ul class="rank">
                    {%  for i in new_blogs %}
                          <li><a href="/new?id={{ i.id }}" title={{ i.title }} target="_blank">{{ i.title }}</a></li>
                    {% endfor %}

                </ul>
                <h3 class="ph">
      <p>点击<span>排行</span></p>
    </h3>
                <ul class="paih">
                     {%  for i in blogs %}
                          <li><a href="/new?id={{ i.id }}" title={{ i.title }} target="_blank">{{ i.title }}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <!-- Baidu Button BEGIN -->
            <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
            <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585"></script>
            <script type="text/javascript" id="bdshell_js"></script>
            <script type="text/javascript">
            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
            </script>
            <!-- Baidu Button END -->
            <!-- <a href="/" class="weixin"> </a> -->
        </aside>
    </article>
    <footer>
        <p>顾少博客，与众不同
            <!--   	<a href="http://www.cssmoban.com/" target="_blank" title=""></a> - Collect from <a href="http://www.cssmoban.com/" title="" target="_blank"></a> <a href="/"></a> -->
        </p>
    </footer>
    <script src="/static/js/silder.js"></script>
</body>

</html>