<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<head></head>

<body id="bg">
	<!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="/main" target="main"><div class="line">
					<img src="/static/img/coin01.png" />&nbsp;&nbsp;首页
				</div></a>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/static/img/coin03.png" /><img class="icon2"
                                                                   src="/static/img/coin04.png" /> 用户管理<img class="icon3"
                                                                                                    src="/static/img/coin19.png" /><img class="icon4"
                                                                                                                                src="/static/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="yT"
                                                                                                target="main">用户添加</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="illuster_list"
                                                                                                target="main">用户查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/static/img/coin01.png" /><img class="icon2"
                                                                   src="/static/img/coin02.png" /> 班级管理<img class="icon3"
                                                                                                    src="/static/img/coin19.png" /><img class="icon4"
                                                                                                                                src="/static/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="bT"
                                                                                                target="main">班级添加</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="bC"
                                                                                                target="main">班级查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/static/img/coin07.png" /><img class="icon2"
                                                                   src="/static/img/coin08.png" /> 课表管理<img class="icon3"
                                                                                                    src="/static/img/coin19.png" /><img class="icon4"
                                                                                                                                src="/static/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="kT"
                                                                                                target="main">课表添加</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="kC"
                                                                                                target="main">课表查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/static/img/coin10.png" /><img class="icon2"
                                                                   src="/static/img/coin09.png" /> 学籍管理<img class="icon3"
                                                                                                    src="/static/img/coin19.png" /><img class="icon4"
                                                                                                                                src="/static/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="xT"
                                                                                                target="main">学籍添加</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="xC"
                                                                                                target="main">学籍查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/static/img/coin11.png" /><img class="icon2"
                                                                   src="/static/img/coin12.png" /> 综合查询<img class="icon3"
                                                                                                    src="/static/img/coin19.png" /><img class="icon4"
                                                                                                                                src="/static/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="bC"
                                                                                                target="main">班级查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="kC"
                                                                                                target="main">课表查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                                                                     src="/static/img/coin222.png" /><a class="cks" href="xC"
                                                                                                target="main">学籍查询</a><img class="icon5" src="/static/img/coin21.png" />
                </dd>
            </dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="/static/img/coinL1.png" /><img class="icon2"
						src="/static/img/coinL2.png" /> 系统管理<img class="icon3"
						src="/static/img/coin19.png" /><img class="icon4"
						src="/static/img/coin20.png" />
				</dt>	
				<dd>
					<img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
						src="/static/img/coin222.png" /><a href="/head/head2" rel="external" target="_top">【退出】</a><img
						class="icon5" src="/static/img/coin21.png" />
				</dd>
			</dl>

		</div>

	</div>
</body>
</html>
